footer {
  background-color: $extra-light;

  // footer container
  .footer_container {
    display: grid;
    gap: 4rem 2rem;

    @include respond(md) {
      grid-template-columns: repeat(5, 1fr);
    }
    // col
    &_col {
      // logo
      .footer_logo {
        display: block;
        margin-bottom: 2rem !important;
        font-size: 1.25rem;
        color: $text-dark;
        font-weight: 800;
        span {
          color: $secondary-color;
        }
      }
      // description
      .footer_description {
        font-size: 1rem;
        font-weight: 500;
        color: $text-light;
        line-height: 1.5rem;
      }
      // titles
      h3,
      h4 {
        font-size: 1.2rem;
        font-weight: 700;
        color: $text-dark;
        margin-bottom: 1rem;
      }
      // socials
      .footer_socials {
        display: flex;
        gap: 0.5rem;

        a {
          padding: 4px 6px;
          font-size: 1.125rem;
          color: $secondary-color;
          border-radius: 50%;

          &:hover {
            background-color: $secondary-color;
            color: $white;
          }
        }
      }
      //   footer links
      .footer_links {
        display: grid;
        gap: 1rem;

        a {
          font-size: 1rem;
          font-weight: 500;
          color: $text-light;
          display: flex;
          gap: 0.5rem;
          &:hover {
            color: $secondary-color;
          }
        }
        i {
          color: $secondary-color;
          font-size: 1.2rem;
        }
      }
    }
  }
  //   copyright
  .copyright {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: $text-light;
  }
}
